{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>Welcome to the meeting planner!</h1>
    <p>
        This is my first <em>Django app</em>! :) Using Pycharm editor.
    </p>
    <h2>Meetings</h2>
    <ul>
        {% for meeting in meetings %}
            <li>
                <!--<a href="/meetings/{{meeting.id}}">
                THIS IS HARD-CODED! -->
                <a href="{% url 'detail' meeting.id %}">
                    {{meeting.title}}
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'rooms' %}">Rooms list</a>
{% endblock %}